tapestry/core/src/META-INF/tapestry_5_0_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://tapestry.apache.org/schema/tapestry_5_0_0.xsd"
           targetNamespace="http://tapestry.apache.org/schema/tapestry_5_0_0.xsd">
  <!-- comp is a component within the template -->
  <xs:element name="comp">
    <xs:complexType mixed="true">
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="type" type="xs:string"/>
      <xs:anyAttribute/>
    </xs:complexType>
  </xs:element>
  <!-- body identifies where the body of the component belongs within the component's template -->
  <xs:element name="body"/>
</xs:schema>
